[Unit]
Description={{PROJECT_NAME}} ExpressJS API Application
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=5

[Service]
Type=simple
User=nick
Group=nick
WorkingDirectory=/home/nick/applications/{{PROJECT_NAME}}
Environment="NODE_ENV=production"
Environment="PATH=/usr/bin:/usr/local/bin"
EnvironmentFile=/home/nick/applications/{{PROJECT_NAME}}/.env
ExecStart=/usr/bin/node dist/server.js
# For APIs
Restart=on-failure
RestartSec=5


[Install]
WantedBy=multi-user.target