[Unit]
Description={{PROJECT_NAME}} NodeJS Script
After=network.target
StartLimitIntervalSec=1d
StartLimitBurst=5

[Service]
Type=simple
User=app_runner
Group=nick
WorkingDirectory=/home/nick/applications/{{PROJECT_NAME}}
Environment="NODE_ENV=production"
Environment="PATH=/usr/bin:/usr/local/bin"
EnvironmentFile=/home/nick/applications/{{PROJECT_NAME}}/.env
ExecStart=/usr/bin/node index.js
Restart=on-failure
RestartSec=10


[Install]
WantedBy=multi-user.target
