[Unit]
Description={{PROJECT_NAME}} NodeJS Script Timer
Requires={{PROJECT_NAME_LOWERCASE}}.service

[Timer]
OnCalendar=*-*-* 23:00:00
Persistent=true

[Install]
WantedBy=timers.target